@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full p-4 bg-[#1D1E1D] border border-[#646460] text-white placeholder-[#88857E]
  rounded-xl outline-none focus:border-[#8E744B] focus:ring-2 focus:ring-[#8E744B]/40 
  transition-all duration-200;
}

.room-box {
  @apply border border-[#646460] p-4 rounded-xl space-y-3;
}

.section-title {
  @apply text-xl font-semibold mt-6 mb-1;
}

.checkbox-label {
  @apply flex items-center gap-2 text-sm;
}

.add-btn {
  @apply w-full py-3 bg-[#15537F] text-white rounded-xl font-semibold 
  hover:bg-[#15537f]/70 transition;
}

.remove-btn {
  @apply w-full py-2 text-red-400 border border-red-400 
  rounded-xl hover:bg-red-400 hover:text-black transition;
}

.submit-btn {
  @apply w-full py-4 mt-6 rounded-xl font-bold text-lg shadow-lg text-white 
  transition duration-300;
  background: linear-gradient(135deg, #15537F 0%, #8E744B 100%);
}



